In [1]:
# Импортируйте pandas\n"
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Получите данные из файла olympics.csv
olympics = pd.read_csv("olympics.csv")
olympics.head(5)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [3]:
# # Посмотрите на первые 10 строк данных\n
olympics.head(10)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold

In [4]:
# Посмотрите на последние 6 строк данных\n"
olympics.tail(6)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [5]:
# # Посмотрите на информацию о данных\n
olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29216 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [6]:
## Посмотрите на количество строк и столбцов в данных\n
olympics.shape

(29216, 10)

In [7]:
# # Посмотрите на описательную статистику данных\n
olympics.describe()

            Edition
count  29216.000000
mean    1967.713171
std       32.406293
min     1896.000000
25%     1948.000000
50%     1976.000000
75%     1996.000000
max     2008.000000

In [8]:
# # Вытащите из данных названия всех столбцов\n
olympics.columns

Index(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC', 'Gender',
       'Event', 'Event_gender', 'Medal'],
      dtype='object')

In [9]:
# Отсортируйте данные по столбцу 'Edition' по возрастанию - Review Sort_Values
olympics.sort_values(by="Edition",ascending=True)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
97,Athens,1896,Gymnastics,Artistic G.,"LOUNDRAS, Dimitrios",GRE,Men,"team, parallel bars",M,Bronze
98,Athens,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
99,Athens,1896,Gymnastics,Artistic G.,"BÖCKER, Konrad",GER,Men,"team, parallel bars",M,Gold
100,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, parallel bars",M,Gold
...,...,...,...,...,...,...,...,...,...,...
27847,Beijing,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,basketball,M,Silver
27846,Beijing,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,basketball,M,Silver
27845,Beijing,2008,Basketball,Basketball,"GASOL, Marc",ESP,Men,basketball,M,Silver
27858,Beijing,2008,Basketball,Basketball,"KUZINA, Marina",RUS,Women,basketball,W,Bronze
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [10]:
## Отсортируйте данные по столбцу \"Gender\", чтобы сначала были \"Women\", а потом \"Men\" и по столбцу \"Medal\" в порядке \"Bronze\", \"Gold\", \"Silver\".\n",
## Сохраните результат в переменную olympics_sorted_gen_med\n",
olympics.sort_values(by=["Gender", "Medal"], ascending=[True,True])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
29135,Beijing,2008,Weightlifting,Weightlifting,"VAZHENINA, Alla",KAZ,Women,75kg,W,Silver
29148,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Chiharu",JPN,Women,- 48kg,W,Silver
29156,Beijing,2008,Wrestling,Wrestling Free.,"XU, Li",CHN,Women,48 - 55kg,W,Silver
29164,Beijing,2008,Wrestling,Wrestling Free.,"KARTASHOVA, Alena",RUS,Women,55 - 63kg,W,Silver
29172,Beijing,2008,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72kg,W,Silver

In [14]:
## Из olympics вытащите только столбцы \"City\", \"Discipline\", \"Medal\" в переменную selected_cols и посмотрите первые 5 строк\n"
selected_cols = olympics[["City", "Discipline", "Medal"]]
selected_cols.head(5)

     City Discipline   Medal
0  Athens   Swimming    Gold
1  Athens   Swimming  Silver
2  Athens   Swimming  Bronze
3  Athens   Swimming    Gold
4  Athens   Swimming  Silver

In [16]:
### Из olympics вытащите только строки в которых значение \"Medal\" равно \"Gold\"\n
filtered_medal = olympics["Medal"] == "Gold"
olympics[filtered_medal]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold

In [22]:
### Из olympics вытащите только строки в которых значение \"City\" равно \"London\" или \"Rio\" и посмотрите первые 5 строк\n
#filtered_city = olympics["City"] == [["London", "Rio"]]
# We have no Rio in the dataset
olympics["City"].value_counts()
filtered_city = olympics["City"] == "London"
olympics[filtered_city]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1133,London,1908,Aquatics,Diving,"SPANGBERG, Arvid",SWE,Men,10m platform,M,Bronze
1134,London,1908,Aquatics,Diving,"JOHANSSON, Hjalmar",SWE,Men,10m platform,M,Gold
1135,London,1908,Aquatics,Diving,"MALMSTRÖM, Karl",SWE,Men,10m platform,M,Silver
1136,London,1908,Aquatics,Diving,"GAIDZIK, George William",USA,Men,3m springboard,M,Bronze
1137,London,1908,Aquatics,Diving,"WALZ, Gottlob",GER,Men,3m springboard,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
8013,London,1948,Wrestling,Wrestling Gre-R,"GRÖNBERG, Axel",SWE,Men,73 - 79kg (middleweight),M,Gold
8014,London,1948,Wrestling,Wrestling Gre-R,"TAYFUR, Muhlis",TUR,Men,73 - 79kg (middleweight),M,Silver
8015,London,1948,Wrestling,Wrestling Gre-R,"ORABI, Ibrahim",EGY,Men,79 - 87kg (light-heavyweight),M,Bronze
8016,London,1948,Wrestling,Wrestling Gre-R,"NILSSON, Karl-Erik",SWE,Men,79 - 87kg (light-heavyweight),M,Gold
8017,London,1948,Wrestling,Wrestling Gre-R,"GRÖNDAHL, Kelpo Olavi",FIN,Men,79 - 87kg (light-heavyweight),M,Silver

In [25]:
### Из olympics вытащите только строки в которых значение \"City\" равно \"London\" или \"Rio\" и посмотрите первые 5 строк\n
filtered_city = (olympics["City"] == "London") | (olympics["City"] == "Rio")
 #We have no Rio in the dataset
olympics[filtered_city]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1133,London,1908,Aquatics,Diving,"SPANGBERG, Arvid",SWE,Men,10m platform,M,Bronze
1134,London,1908,Aquatics,Diving,"JOHANSSON, Hjalmar",SWE,Men,10m platform,M,Gold
1135,London,1908,Aquatics,Diving,"MALMSTRÖM, Karl",SWE,Men,10m platform,M,Silver
1136,London,1908,Aquatics,Diving,"GAIDZIK, George William",USA,Men,3m springboard,M,Bronze
1137,London,1908,Aquatics,Diving,"WALZ, Gottlob",GER,Men,3m springboard,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
8013,London,1948,Wrestling,Wrestling Gre-R,"GRÖNBERG, Axel",SWE,Men,73 - 79kg (middleweight),M,Gold
8014,London,1948,Wrestling,Wrestling Gre-R,"TAYFUR, Muhlis",TUR,Men,73 - 79kg (middleweight),M,Silver
8015,London,1948,Wrestling,Wrestling Gre-R,"ORABI, Ibrahim",EGY,Men,79 - 87kg (light-heavyweight),M,Bronze
8016,London,1948,Wrestling,Wrestling Gre-R,"NILSSON, Karl-Erik",SWE,Men,79 - 87kg (light-heavyweight),M,Gold
8017,London,1948,Wrestling,Wrestling Gre-R,"GRÖNDAHL, Kelpo Olavi",FIN,Men,79 - 87kg (light-heavyweight),M,Silver

In [27]:
##  Из olympics вытащите только строки в которых значение \"Edition\" 
# #равно \"2008\" и \"Medal\" равно \"Silver\"\n"
filtered_edition = (olympics["Edition"] == 2008) & (olympics["Medal"] == "Silver")
olympics[filtered_edition]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
27179,Beijing,2008,Aquatics,Diving,"HEYMANS, Emilie",CAN,Women,10m platform,W,Silver
27182,Beijing,2008,Aquatics,Diving,"DESPATIE, Alexandre",CAN,Men,3m springboard,M,Silver
27185,Beijing,2008,Aquatics,Diving,"PAKHALINA, Julia",RUS,Women,3m springboard,W,Silver
27190,Beijing,2008,Aquatics,Diving,"HAUSDING, Patrick",GER,Men,synchronized diving 10m platform,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [29]:
# Найдите строки в которых содержится слово \"Swimming\" 
# #в столбце \"Discipline\
cotains_swimming = olympics["Discipline"].str.contains("Swimming")
olympics[cotains_swimming]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
27405,Beijing,2008,Aquatics,Swimming,"VAN DER WEIJDEN, Maarten",NED,Men,marathon 10km,M,Gold
27406,Beijing,2008,Aquatics,Swimming,"DAVIES, David",GBR,Men,marathon 10km,M,Silver
27407,Beijing,2008,Aquatics,Swimming,"PATTEN, Cassandra",GBR,Women,marathon 10km,W,Bronze
27408,Beijing,2008,Aquatics,Swimming,"ILCHENKO, Larisa",RUS,Women,marathon 10km,W,Gold
27409,Beijing,2008,Aquatics,Swimming,"PAYNE, Keri-Anne",GBR,Women,marathon 10km,W,Silver