In [1]:
# Qiwi Wallet
# 1. Importing necessary libraries
# 2. Reading csv file via Pandas
# 3. Before presenting the data, we are telling it which columns it should read in order to save time and use only necessary columns
# 4. We can also change the column type ( That will help us for doing the look up)
# 5. We are reading csv file because excel files are usually bigger in size and take longer to read
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
parse_dates = ["UPDATE TIME","ORDER TIME"]
internal = pd.read_excel("C:\\Users\\XCG\\Desktop\\Recons_all_for_Drive\\Qiwi_RUB_Card\\6 months 2023\\Wallet\\Wallet_data_2023_6 months_Internal_.xlsx",
usecols = ["TRANSACTION ID",'PARTNER STATUS','PAYMENT ID FROM CHANNEL',"METHOD",'UPDATE TIME','ORDER TIME','PAY AMOUNT'],dtype ={"TRANSACTION ID": object, 'PAYMENT ID FROM CHANNEL': object}, parse_dates = parse_dates)

In [3]:
internal.dtypes

TRANSACTION ID                     object
METHOD                             object
PAYMENT ID FROM CHANNEL            object
PARTNER STATUS                     object
PAY AMOUNT                        float64
ORDER TIME                 datetime64[ns]
UPDATE TIME                datetime64[ns]
dtype: object

In [4]:
# Change type of the column for vlookup
#internal = internal["PAYMENT ID FROM CHANNEL"].astype(object)

In [5]:
internal.head()

,TRANSACTION ID,METHOD,PAYMENT ID FROM CHANNEL,PARTNER STATUS,PAY AMOUNT,ORDER TIME,UPDATE TIME
0,2023112103035107787,Wallet,164901905,success,289.50,2023-11-21 03:03:51,2023-11-21 03:04:22
1,2023112103000506387,Wallet,164901454,success,482.50,2023-11-21 03:00:05,2023-11-21 03:00:36
2,2023112102593606196,Wallet,164901393,success,532.00,2023-11-21 02:59:36,2023-11-21 03:01:17
3,2023112102580305661,Wallet,164901291,success,359.20,2023-11-21 02:58:03,2023-11-21 02:59:04
4,2023112102563705167,Wallet,164901080,success,125.45,2023-11-21 02:56:37,2023-11-21 02:57:38

In [6]:
# Let's check whether we have any missing data in our file 
internal.isna().any().any()
# Hopefully, there are no any missing values in our data. We can move on

False

In [8]:
# Segregate hours from dates in a new column

internal["DateOnly"] = internal["UPDATE TIME"].dt.date
internal["DateOnly"].value_counts()

2023-11-18    5909
2023-11-20    4845
2023-11-13    3959
2023-11-19    3705
2023-11-14    3313
2023-11-15    2396
2023-11-17    2292
2023-11-16    1816
2023-11-21     103
Name: DateOnly, dtype: int64

In [2]:
# 2. Reading excel file via Pandas (because it was downloaded as an excel file, will download and read csv to save time)
# 3. Before presenting the data, we are telling it which columns it should read in order to save time and use only necessary columns
# 4. We can also change the column type that we will need soon for matching ( That will help us for doing the look up)
parse_dates = ["Transaction date (Moscow)", "Report date"]
external = pd.read_csv(
                       usecols = ["Transaction date (Moscow)", "Report date","Type","Transaction status","Transaction amount","Settlement amount","Settlement fee","Merchant's transaction/invoice number"],
                      parse_dates = parse_dates)
external.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x82 in position 16: invalid start byte

In [50]:
external["PAYMENT ID FROM CHANNEL"]= external["Merchant's transaction/invoice number"].str.extract(r"(\d+)")

In [51]:
external.head()

,Transaction date (Moscow),Report date,Type,Transaction status,Transaction amount,Settlement amount,Settlement fee,Merchant's transaction/invoice number,PAYMENT ID FROM CHANNEL
0,2023-11-14 00:00:00,2023-11-14,Payment,Successful,144.75,144.75,5.79,i_162098026,162098026
1,2023-11-14 00:01:00,2023-11-14,Payment,Successful,482.50,482.50,19.30,i_162095989,162095989
2,2023-11-14 00:01:00,2023-11-14,Payment,Successful,38.60,38.60,1.54,i_162098489,162098489
3,2023-11-14 00:01:00,2023-11-14,Payment,Successful,733.00,733.00,29.32,i_162098493,162098493
4,2023-11-14 00:02:00,2023-11-14,Payment,Successful,733.00,733.00,29.32,i_162098654,162098654

In [52]:
external.describe()

       Transaction amount  Settlement amount  Settlement fee
count        24575.000000       24575.000000    24575.000000
mean           602.224392         602.224392       23.968664
std           1207.494071        1207.494071       48.284294
min              1.000000           1.000000        0.020000
25%             99.000000          99.000000        3.960000
50%            216.580000         216.580000        8.660000
75%            540.300000         540.300000       21.580000
max          11068.000000       11068.000000      442.720000

In [53]:
external["Type"].value_counts()

Payment    24329
Payout       246
Name: Type, dtype: int64

In [54]:
external.dtypes

Transaction date (Moscow)                datetime64[ns]
Report date                              datetime64[ns]
Type                                             object
Transaction status                               object
Transaction amount                              float64
Settlement amount                               float64
Settlement fee                                  float64
Merchant's transaction/invoice number            object
PAYMENT ID FROM CHANNEL                          object
dtype: object

In [55]:
merged_internal_wallet = pd.merge(internal,external, on = "PAYMENT ID FROM CHANNEL", how  = "outer")
merged_internal_wallet.head()

,TRANSACTION ID,METHOD,PAYMENT ID FROM CHANNEL,PARTNER STATUS,PAY AMOUNT,ORDER TIME,UPDATE TIME,DateOnly,Transaction date (Moscow),Report date,Type,Transaction status,Transaction amount,Settlement amount,Settlement fee,Merchant's transaction/invoice number
0,2023112103035107787,Wallet,164901905,success,289.50,2023-11-21 03:03:51,2023-11-21 03:04:22,2023-11-21,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,2023112103000506387,Wallet,164901454,success,482.50,2023-11-21 03:00:05,2023-11-21 03:00:36,2023-11-21,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,2023112102593606196,Wallet,164901393,success,532.00,2023-11-21 02:59:36,2023-11-21 03:01:17,2023-11-21,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,2023112102580305661,Wallet,164901291,success,359.20,2023-11-21 02:58:03,2023-11-21 02:59:04,2023-11-21,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,2023112102563705167,Wallet,164901080,success,125.45,2023-11-21 02:56:37,2023-11-21 02:57:38,2023-11-21,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
filtered_internal = merged_internal_wallet[(merged_internal_wallet['UPDATE TIME'] >= "2023-11-14") & (merged_internal_wallet['UPDATE TIME'] < "2023-11-21")]
# We are making a new data frame by filtering only dates that we need for reconciliation
filtered_internal.head()

,TRANSACTION ID,METHOD,PAYMENT ID FROM CHANNEL,PARTNER STATUS,PAY AMOUNT,ORDER TIME,UPDATE TIME,DateOnly,Transaction date (Moscow),Report date,Type,Transaction status,Transaction amount,Settlement amount,Settlement fee,Merchant's transaction/invoice number
103,2023112023551806050,Wallet,164882135,success,531.23,2023-11-20 23:55:18,2023-11-20 23:55:47,2023-11-20,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
104,2023112023543105584,Wallet,164882026,success,1063.35,2023-11-20 23:54:31,2023-11-20 23:55:01,2023-11-20,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
105,2023112023541305433,Wallet,164881994,success,1063.35,2023-11-20 23:54:13,2023-11-20 23:55:06,2023-11-20,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
106,2023112023523004415,Wallet,164881830,success,772.00,2023-11-20 23:52:30,2023-11-20 23:53:17,2023-11-20,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
107,2023112023522904408,Wallet,164881810,success,1595.47,2023-11-20 23:52:29,2023-11-20 23:53:49,2023-11-20,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Check for Nan Values
# Checking the Nan Data
nan_internal = filtered_internal[filtered_internal.isna().any(axis = 1)]
print("Rows with NaN values:")
print(nan_internal)

# As we see, there is only one mismatch and the reason for that is its status is (F)

Rows with NaN values:
            TRANSACTION ID  METHOD PAYMENT ID FROM CHANNEL PARTNER STATUS  \
103    2023112023551806050  Wallet               164882135        success
104    2023112023543105584  Wallet               164882026        success
105    2023112023541305433  Wallet               164881994        success
106    2023112023523004415  Wallet               164881830        success
107    2023112023522904408  Wallet               164881810        success
...                    ...     ...                     ...            ...
339    2023112021001301337  Wallet               164833766        success
340    2023112020582400328  Wallet               164833379        success
20152  2023111221532801475  Wallet               161713931        success
20153  2023111221221203828  Wallet               161707811        success
23286  2023111320150904653  Wallet               162086741        success

       PAY AMOUNT          ORDER TIME         UPDATE TIME    DateOnly  \
103        531.23 2023-11-20 23:55:18 2023-11-20 23:55:47  2023-11-20
104       1063.35 2023-11-20 23:54:31 2023-11-20 23:55:01  2023-11-20
105       1063.35 2023-11-20 23:54:13 2023-11-20 23:55:06  2023-11-20
106        772.00 2023-11-20 23:52:30 2023-11-20 23:53:17  2023-11-20
107       1595.47 2023-11-20 23:52:29 2023-11-20 23:53:49  2023-11-20
...           ...                 ...                 ...         ...
339        289.50 2023-11-20 21:00:13 2023-11-20 21:00:48  2023-11-20
340        772.00 2023-11-20 20:58:24 2023-11-20 21:01:07  2023-11-20
20152      146.00 2023-11-12 21:53:28 2023-11-15 10:21:16  2023-11-15
20153      366.00 2023-11-12 21:22:12 2023-11-15 10:21:25  2023-11-15
23286      553.64 2023-11-13 20:15:09 2023-11-14 10:16:45  2023-11-14

      Transaction date (Moscow) Report date Type Transaction status  \
103                         NaT         NaT  NaN                NaN
104                         NaT         NaT  NaN                NaN
105                         NaT         NaT  NaN                NaN
106                         NaT         NaT  NaN                NaN
107                         NaT         NaT  NaN                NaN
...                         ...         ...  ...                ...
339                         NaT         NaT  NaN                NaN
340                         NaT         NaT  NaN                NaN
20152                       NaT         NaT  NaN                NaN
20153                       NaT         NaT  NaN                NaN
23286                       NaT         NaT  NaN                NaN

       Transaction amount  Settlement amount  Settlement fee  \
103                   NaN                NaN             NaN
104                   NaN                NaN             NaN
105                   NaN                NaN             NaN
106                   NaN                NaN             NaN
107                   NaN                NaN             NaN
...                   ...                ...             ...
339                   NaN                NaN             NaN
340                   NaN                NaN             NaN
20152                 NaN                NaN             NaN
20153                 NaN                NaN             NaN
23286                 NaN                NaN             NaN

      Merchant's transaction/invoice number
103                                     NaN
104                                     NaN
105                                     NaN
106                                     NaN
107                                     NaN
...                                     ...
339                                     NaN
340                                     NaN
20152                                   NaN
20153                                   NaN
23286                                   NaN

[238 rows x 16 columns]

In [58]:
# As we can see, most of them are either happening in the beginning of end of the period which means it's due to time difference
# But, we will have to recheck it again in order to confirm whether that was due to time difference or not

In [59]:
merged_internal_wallet = filtered_internal

In [74]:
# Let's save our file into a new file 
merged_internal_wallet.to_csv("C:\\Users\\XCG\\Desktop\\November\\Recon_October_Nov_23\\Qiwi_Wallet\\External_Wallet_20231114_20231120\\qiwi_internal_wallet_20231114_20231120_automated.csv",index = False)
# Internal Recon is done!!!

In [61]:
# Merge external
merged_external_wallet = pd.merge(external,internal, on = "PAYMENT ID FROM CHANNEL", how  = "outer")
merged_external_wallet.head()

,Transaction date (Moscow),Report date,Type,Transaction status,Transaction amount,Settlement amount,Settlement fee,Merchant's transaction/invoice number,PAYMENT ID FROM CHANNEL,TRANSACTION ID,METHOD,PARTNER STATUS,PAY AMOUNT,ORDER TIME,UPDATE TIME,DateOnly
0,2023-11-14 00:00:00,2023-11-14,Payment,Successful,144.75,144.75,5.79,i_162098026,162098026,2023111320592601886,Wallet,success,144.75,2023-11-13 20:59:26,2023-11-13 21:00:29,2023-11-13
1,2023-11-14 00:01:00,2023-11-14,Payment,Successful,482.50,482.50,19.30,i_162095989,162095989,2023111320500008129,Wallet,success,482.50,2023-11-13 20:50:00,2023-11-13 21:01:58,2023-11-13
2,2023-11-14 00:01:00,2023-11-14,Payment,Successful,38.60,38.60,1.54,i_162098489,162098489,2023111321013302715,Wallet,success,38.60,2023-11-13 21:01:33,2023-11-13 21:02:04,2023-11-13
3,2023-11-14 00:01:00,2023-11-14,Payment,Successful,733.00,733.00,29.32,i_162098493,162098493,2023111321013502726,Wallet,success,733.00,2023-11-13 21:01:35,2023-11-13 21:02:07,2023-11-13
4,2023-11-14 00:02:00,2023-11-14,Payment,Successful,733.00,733.00,29.32,i_162098654,162098654,2023111321021603003,Wallet,success,733.00,2023-11-13 21:02:16,2023-11-13 21:02:40,2023-11-13

In [65]:
# Filter dates that we need!
filtered_external = merged_external_wallet[(merged_external_wallet['Report date'] >= "2023-11-14") & (merged_external_wallet['Report date'] < "2023-11-21")]
# We are making a new data frame by filtering only dates that we need for reconciliation
filtered_external.tail()

,Transaction date (Moscow),Report date,Type,Transaction status,Transaction amount,Settlement amount,Settlement fee,Merchant's transaction/invoice number,PAYMENT ID FROM CHANNEL,TRANSACTION ID,METHOD,PARTNER STATUS,PAY AMOUNT,ORDER TIME,UPDATE TIME,DateOnly
24570,2023-11-20 16:56:00,2023-11-20,Payout,Successful,537.09,537.09,10.74,39454258,39454258,NaN,NaN,NaN,NaN,NaT,NaT,NaN
24571,2023-11-20 17:18:00,2023-11-20,Payout,Successful,2.00,2.00,0.04,39456747,39456747,NaN,NaN,NaN,NaN,NaT,NaT,NaN
24572,2023-11-20 18:02:00,2023-11-20,Payout,Successful,826.30,826.30,16.53,39461900,39461900,NaN,NaN,NaN,NaN,NaT,NaT,NaN
24573,2023-11-20 19:02:00,2023-11-20,Payout,Successful,537.09,537.09,10.74,39469066,39469066,NaN,NaN,NaN,NaN,NaT,NaT,NaN
24574,2023-11-20 21:07:00,2023-11-20,Payout,Successful,2.00,2.00,0.04,39484319,39484319,NaN,NaN,NaN,NaN,NaT,NaT,NaN

In [63]:
# Check for variance
nan_external = filtered_external[filtered_external.isna().any(axis = 1)]
print("Rows with NaN values:")
print(nan_external)

# As we see, there is only one mismatch and the reason for that is its status is (F)

Rows with NaN values:
      Transaction date (Moscow) Report date     Type Transaction status  \
6899        2023-11-16 15:49:00  2023-11-16  Payment         Successful
6902        2023-11-16 15:50:00  2023-11-16  Payment         Successful
6908        2023-11-16 15:56:00  2023-11-16  Payment         Successful
24329       2023-11-14 08:09:00  2023-11-14   Payout         Successful
24330       2023-11-14 08:34:00  2023-11-14   Payout         Successful
...                         ...         ...      ...                ...
24570       2023-11-20 16:56:00  2023-11-20   Payout         Successful
24571       2023-11-20 17:18:00  2023-11-20   Payout         Successful
24572       2023-11-20 18:02:00  2023-11-20   Payout         Successful
24573       2023-11-20 19:02:00  2023-11-20   Payout         Successful
24574       2023-11-20 21:07:00  2023-11-20   Payout         Successful

       Transaction amount  Settlement amount  Settlement fee  \
6899               469.00             469.00           18.76
6902               965.00             965.00           38.60
6908              2163.17            2163.17           86.53
24329              508.18             508.18           10.16
24330              508.18             508.18           10.16
...                   ...                ...             ...
24570              537.09             537.09           10.74
24571                2.00               2.00            0.04
24572              826.30             826.30           16.53
24573              537.09             537.09           10.74
24574                2.00               2.00            0.04

      Merchant's transaction/invoice number PAYMENT ID FROM CHANNEL  \
6899                            i_163080317               163080317
6902                            i_162909891               162909891
6908                            i_163047257               163047257
24329                              38628871                38628871
24330                              38630946                38630946
...                                     ...                     ...
24570                              39454258                39454258
24571                              39456747                39456747
24572                              39461900                39461900
24573                              39469066                39469066
24574                              39484319                39484319

      TRANSACTION ID METHOD PARTNER STATUS  PAY AMOUNT ORDER TIME UPDATE TIME  \
6899             NaN    NaN            NaN         NaN        NaT         NaT
6902             NaN    NaN            NaN         NaN        NaT         NaT
6908             NaN    NaN            NaN         NaN        NaT         NaT
24329            NaN    NaN            NaN         NaN        NaT         NaT
24330            NaN    NaN            NaN         NaN        NaT         NaT
...              ...    ...            ...         ...        ...         ...
24570            NaN    NaN            NaN         NaN        NaT         NaT
24571            NaN    NaN            NaN         NaN        NaT         NaT
24572            NaN    NaN            NaN         NaN        NaT         NaT
24573            NaN    NaN            NaN         NaN        NaT         NaT
24574            NaN    NaN            NaN         NaN        NaT         NaT

      DateOnly
6899       NaN
6902       NaN
6908       NaN
24329      NaN
24330      NaN
...        ...
24570      NaN
24571      NaN
24572      NaN
24573      NaN
24574      NaN

[249 rows x 16 columns]

In [67]:
nan_external["Type"].value_counts()
# As we see, all not found are payouts
# All Payins of wallet has been found for this week!

Payout     246
Payment      3
Name: Type, dtype: int64

In [68]:
#Calculation
filtered_external["Net Receivables"] = filtered_external["Settlement amount"] - filtered_external["Settlement fee"]
filtered_external["Commission"] = filtered_external["Settlement fee"] / filtered_external["Settlement amount"]
filtered_external.head()

C:\Users\XCG\AppData\Local\Temp\ipykernel_20960\2476555496.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_external["Net Receivables"] = filtered_external["Settlement amount"] - filtered_external["Settlement fee"]
C:\Users\XCG\AppData\Local\Temp\ipykernel_20960\2476555496.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_external["Commission"] = filtered_external["Settlement fee"] / filtered_external["Settlement amount"]

,Transaction date (Moscow),Report date,Type,Transaction status,Transaction amount,Settlement amount,Settlement fee,Merchant's transaction/invoice number,PAYMENT ID FROM CHANNEL,TRANSACTION ID,METHOD,PARTNER STATUS,PAY AMOUNT,ORDER TIME,UPDATE TIME,DateOnly,Net Receivables,Commission
0,2023-11-14 00:00:00,2023-11-14,Payment,Successful,144.75,144.75,5.79,i_162098026,162098026,2023111320592601886,Wallet,success,144.75,2023-11-13 20:59:26,2023-11-13 21:00:29,2023-11-13,138.96,0.040000
1,2023-11-14 00:01:00,2023-11-14,Payment,Successful,482.50,482.50,19.30,i_162095989,162095989,2023111320500008129,Wallet,success,482.50,2023-11-13 20:50:00,2023-11-13 21:01:58,2023-11-13,463.20,0.040000
2,2023-11-14 00:01:00,2023-11-14,Payment,Successful,38.60,38.60,1.54,i_162098489,162098489,2023111321013302715,Wallet,success,38.60,2023-11-13 21:01:33,2023-11-13 21:02:04,2023-11-13,37.06,0.039896
3,2023-11-14 00:01:00,2023-11-14,Payment,Successful,733.00,733.00,29.32,i_162098493,162098493,2023111321013502726,Wallet,success,733.00,2023-11-13 21:01:35,2023-11-13 21:02:07,2023-11-13,703.68,0.040000
4,2023-11-14 00:02:00,2023-11-14,Payment,Successful,733.00,733.00,29.32,i_162098654,162098654,2023111321021603003,Wallet,success,733.00,2023-11-13 21:02:16,2023-11-13 21:02:40,2023-11-13,703.68,0.040000

In [69]:
# Check whether all commissions have been calculated correctly
filtered_external["Check_Commission"] = filtered_external["Commission"] <= 0.0451
filtered_external["Check_Commission"].value_counts()

C:\Users\XCG\AppData\Local\Temp\ipykernel_20960\2236111979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_external["Check_Commission"] = filtered_external["Commission"] <= 0.0451

True    24575
Name: Check_Commission, dtype: int64

In [70]:
filtered_external.tail()

,Transaction date (Moscow),Report date,Type,Transaction status,Transaction amount,Settlement amount,Settlement fee,Merchant's transaction/invoice number,PAYMENT ID FROM CHANNEL,TRANSACTION ID,METHOD,PARTNER STATUS,PAY AMOUNT,ORDER TIME,UPDATE TIME,DateOnly,Net Receivables,Commission,Check_Commission
24570,2023-11-20 16:56:00,2023-11-20,Payout,Successful,537.09,537.09,10.74,39454258,39454258,NaN,NaN,NaN,NaN,NaT,NaT,NaN,526.35,0.019997,True
24571,2023-11-20 17:18:00,2023-11-20,Payout,Successful,2.00,2.00,0.04,39456747,39456747,NaN,NaN,NaN,NaN,NaT,NaT,NaN,1.96,0.020000,True
24572,2023-11-20 18:02:00,2023-11-20,Payout,Successful,826.30,826.30,16.53,39461900,39461900,NaN,NaN,NaN,NaN,NaT,NaT,NaN,809.77,0.020005,True
24573,2023-11-20 19:02:00,2023-11-20,Payout,Successful,537.09,537.09,10.74,39469066,39469066,NaN,NaN,NaN,NaN,NaT,NaT,NaN,526.35,0.019997,True
24574,2023-11-20 21:07:00,2023-11-20,Payout,Successful,2.00,2.00,0.04,39484319,39484319,NaN,NaN,NaN,NaN,NaT,NaT,NaN,1.96,0.020000,True

In [77]:
#filtered_external["Payouts"] == 
#if filtered_external["Type"] == "Payment":
#    filtered_external["Payouts"] = "N/A"
#else filtered_external["Type"] == "Payout":
#    filtered_external["Payouts"] = filtered_external["Settlement amount"] + filtered_external["Settlement fee"]

In [71]:
merged_external_wallet = filtered_external
# Merge external
merged_external_wallet.head()

,Transaction date (Moscow),Report date,Type,Transaction status,Transaction amount,Settlement amount,Settlement fee,Merchant's transaction/invoice number,PAYMENT ID FROM CHANNEL,TRANSACTION ID,METHOD,PARTNER STATUS,PAY AMOUNT,ORDER TIME,UPDATE TIME,DateOnly,Net Receivables,Commission,Check_Commission
0,2023-11-14 00:00:00,2023-11-14,Payment,Successful,144.75,144.75,5.79,i_162098026,162098026,2023111320592601886,Wallet,success,144.75,2023-11-13 20:59:26,2023-11-13 21:00:29,2023-11-13,138.96,0.040000,True
1,2023-11-14 00:01:00,2023-11-14,Payment,Successful,482.50,482.50,19.30,i_162095989,162095989,2023111320500008129,Wallet,success,482.50,2023-11-13 20:50:00,2023-11-13 21:01:58,2023-11-13,463.20,0.040000,True
2,2023-11-14 00:01:00,2023-11-14,Payment,Successful,38.60,38.60,1.54,i_162098489,162098489,2023111321013302715,Wallet,success,38.60,2023-11-13 21:01:33,2023-11-13 21:02:04,2023-11-13,37.06,0.039896,True
3,2023-11-14 00:01:00,2023-11-14,Payment,Successful,733.00,733.00,29.32,i_162098493,162098493,2023111321013502726,Wallet,success,733.00,2023-11-13 21:01:35,2023-11-13 21:02:07,2023-11-13,703.68,0.040000,True
4,2023-11-14 00:02:00,2023-11-14,Payment,Successful,733.00,733.00,29.32,i_162098654,162098654,2023111321021603003,Wallet,success,733.00,2023-11-13 21:02:16,2023-11-13 21:02:40,2023-11-13,703.68,0.040000,True

In [73]:
merged_external_wallet.to_csv("C:\\Users\\XCG\\Desktop\\November\\Recon_October_Nov_23\\Qiwi_Wallet\\External_Wallet_20231114_20231120\\qiwi_external_wallet_20231114_20231120_automated.csv",index = False)
#External_wallet_is_done!!!